#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #0a0908;
    text-decoration: none;
}

#hero-msg h1
{text-align: center;
}

#hero-msg h4
{text-align:center;
}

.button-box
{text-align: center;
}

h4{
    color:#FFFFFF;

}
main section
{
text-align: center;
}

#background {
    height: 725px;
    background-color:#0a0908; 
}


header {
    background-color:#396E94;
}

nav a:hover {
    background-color: #c6ac8f;
    color: beige;
}

.book {
    background-color:#0a0908 ;
    color:#FFFFFF;
    text-decoration: none;

}

.join{
    background-color: #0a0908;
    color: #FFFFFF;
    text-decoration: none;
}

.book:hover{
    background-color: #5e503f
}

.join:hover{
    background-color: #5e503f
}

#background{
    background-color: #396E94 
}

.msg{
    background-color: #22333b
}
.msg h2{
    color: #FFFFFF;
}
.msg p{
    color:#FFFFFF
}

footer{
    background-color: #0a0908;
    color: beige;
    font-size: 1.2em;}

footer a{
    background-color: #FFFFFF;
    color:#0a0908;
    text-decoration: none;
}
footer a:hover{
    color: #22333b;
}
 
footer p a:hover {
    text-decoration: underline;
}    
.icon {
    width: 80px;
}
.logo{
   width: 80px ;
}

#hero-img{
    width: 100%;
}

.home-title{
    color: beige;
}
