#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #0a0908;
    text-decoration: none;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-msg h1
{text-align: center;
}
.button-box
{text-align: center;
}

h4{
    color:#0a0908;

}
main section
{
text-align: center;
box-sizing: border-box;
border-color: #0a0908;
}
#main
.home-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

header {
    background-color:#396E94;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #5e503f;
    color: beige;
}

.book {
    background-color:#22333b ;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border-color: #0a0908;
}

.join{
    background-color: #0a0908;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border-color: #0a0908;
}

.book:hover{
    background-color: #5e503f
}

.join:hover{
    background-color: #5e503f
}

#background{
    background-color: #396E94 
}

.msg{
    background-color: #22333b;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #FFFFFF;
    font-family: 'Rock Salt', 'Raleway', sans-serif;
}
.msg p{
    color:#FFFFFF;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color:#0a0908;
    color: #0a0908;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    color:#FFFFFF
}
footer a{
    background-color: #c6ac8f;
    color:#0a0908;
    text-decoration: none;
}
footer a:hover{
    color: #22333b;
}
 
footer p a:hover {
    text-decoration: underline;
}    
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo{
   width: 80px ;
}

#hero-img{
    width: 100%;
}

.home-title{
    color: #FFFFFF;
    font-family: 'Rock Salt', 'Raleway', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

body {
    background-color: #fcfbfb;
    font-family: 'Raleway', 'Rock Salt' , sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

footer .social img { padding-top: 15px;
}

.rivers-card{
    margin: 200px 0;
    grid-area: 2 / 2 / 3 / 4;
}
.camping-card{
    margin: 200px 0;
    grid-area: 2 / 5 / 3 / 7;
}

.rapids-card{
    margin: 200px 0;
    grid-area: 2 / 8 / 3 / 10;
}
#background {
    height: 725px;
    background-color:#0a0908; 
    grid-area: 4 / 1 / 9 / 11;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg{
    background-color: #22333b;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
#logo_link{  
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    
}
#hero-msg h4
{text-align:center;
color: white;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            