#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
}

nav{
    display: flex;
    justify-content: space-around;
}

h1
{
    color: #3f4531ff;
    font-family:'Raleway', sans-serif;
    text-align: center;
}

#underlined{
    text-decoration: underline;
    padding-top: 20px;
}

.button-box
{text-align: center;
}

.home-grid p
{
color: #3f4531ff;
text-align: center;
font-family: 'Open Sans', sans-serif;
}

.pos{
    padding-left: 10px;
}
.space{
    padding-top:  20px;
}

.top
{
background-color: #91f9e5ff;
line-height: 1.5em;
margin-top: 50px; 
padding: 35px;
grid-column: 5/10;
grid-row: 6/7;
}

.commons{
    text-align: center;
    color: #3f4531ff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.home-grid{
    padding-left: 50px;
    padding-right: 50px;
}

header {
    background-color:#76f7bfff;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #3f4531ff;
    color: #FFFFFF;;
}

footer {
    background-color:#3f4531ff;
    font-size: .8em;
    padding: 10px ;
    margin-top: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

footer p{
    color:#91f9e5ff;
    font-family: 'Raleway', 'Open Sans', sans-serif;

}

footer p a{

}

footer a{
    background-color: #5fdd9dff;
    color: #3f4531ff;
    text-decoration: none;
 
}

footer a:hover{
    color: #3f4531ff;
    background-color: #5fdd9dff;
}
 
footer p a:hover {
    text-decoration: underline;
}

.logo{
   width: 80px ;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

footer .social img { padding-top: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}


#logo_link{  
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.container {
position: relative;
}
  
.image {
display: block;
width: 100%;
height: auto;
}

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;}
  
  .container:hover .overlay {
    opacity: 1;}
  
  .text {
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            